@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_EStart.cshtml";

}
<div class="about-section">
    <h2>About</h2>
    <p>
        Garibeh dessert is a shop<br>
        of handmade sweets<br>
        It is located in the center of Irbid<br>
        Since 2020<br>
        You can order through the website<br>
        Or by phone
    </p>
</div>
<style>
    .about-section {
        background-color: #B5A38F; /* Set background color */
        padding: 20px;
        border-radius: 15px; /* Rounded corners */
        width: 75%; /* Set a width for the box */
        font-family: 'Georgia', serif; /* Font style */
        color: #2f2a24; /* Text color */
        margin: 20px auto; /* Center the section */
        text-align: left; /* Align text to the left */
    }

        .about-section h2 {
            font-size: 24px;
            margin-bottom: 10px;
        }

        .about-section p {
            font-size: 18px;
            line-height: 1.6;
            white-space: pre-line; /* Maintain line breaks */
            text-align: center;
        }
</style>